{% extends 'base.html.twig' %}

{% block title %}Guardia | Atención{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #9aaebd;">
    <span class="navbar-brand mb-0 h1">Guardia</span>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link" href="{{path('app_guardia_dashboard')}}">Inicio</a>
        <a class="nav-link text-light" href="{{path('app_logout')}}"><span class="bi bi-box-arrow-right mr-1"></span>Cerrar sesión</a>
      </div>
    </div>
  </nav>

<div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-12 col-sm-7 col-md-6 m-auto">
        <div class="card border-0 shadow">
          <div class="card-body">
            
            {{form_start(formulario)}}
            
            <div class="form-group mt-4">
                <label>Tipo de incidente: </label>
                <input disabled="true" placeholder="{{descripcion}}">
            </div>
            
            <div class="form-group">
                <label>Solucion: </label>
                {{form_widget(formulario.solucion)}}
            </div>
            
            <div class="form-group">
                <label>Estado: </label>
                {{form_widget(formulario.estadoIncidente)}}
            </div>
            
            <button type="submit" class="btn btn-lg btn-primary">Aceptar</button>
        {{form_end(formulario)}}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
