{% extends 'base.html.twig' %}

{% block title %}Guardia | Inicio{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #9aaebd;">
    <span class="navbar-brand mb-0 h1">Guardia</span>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link text-light " href="{{path('app_logout')}}"><span class="bi bi-box-arrow-right mr-1"></span>Cerrar sesión</a>
      </div>
    </div>
  </nav>
  <h1>Incidentes Reportados</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID Residente</th>
            <th>Tipo de incidente</th>
            <th>Estado</th>
            <th>Solucion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for incidente in listaIncidentes %}
        <tr>
            <td>{{incidente.idUsuario.idUsuario}}</td>
            <td>{{incidente.idTipo.descripcion}}</td>
            <td>{{incidente.estadoIncidente}}</td>
            <td>{{incidente.solucion}}</td>
            <td>
                <a href="{{path('app_incidente_edit', {id:incidente.idIncidente})}}" class="btn btn-warning">Atender</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
